/* ============================================================================
GLOBAL STYLES: */
body {
    background-image: url("../images/background.jpg");
    color: #c3cfc4;
}

a {
    color: #c3cfc4;
    text-decoration: none;
}

a:visited {
    color: #c3cfc4;
    text-decoration: none;
}

.clear {
    width: 0px;
    height: 0px;
    clear: both;
}

/* font color of an active element */
.active {
    color: #b4ee46 !important;
}

/* a secondary content has lower opacity */
.secondary-content {
    opacity: 0.4;
}

/* ============================================================================
HOME NAVIGATION STYLES: */
#home-navigation {
    width: 220px;
    height: 380px;
    margin-left: 10%;
    font-family: Verdana;
    float: left;
    display: table;
}

#home-navigation > h1 {
    font-size: 3.75em;
    font-weight: 100;
}

#home-navigation > a {
    display: block;
    font-size: 1.75em;
    margin-top: 5px; 
}

#home-navigation > .active {
    margin-left: -35px;
}

#home-navigation .secondary {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}

/* ============================================================================
MAIN STYLES: */
#main {
    margin-top: 220px;
    width: 100%;
    min-width: 1320px;
}

/*
CONTENT (MOVIE) STYLES: */
#content {
    font-family: Verdana;
    float: left;
}

#content .active-item {
    display:block !important;
}

#content .content-item {
    display: none;
}

#content .content-item > h1 {
    font-size: 3em;
    font-weight: 100;
    height: 70px;
    float: left;
    width: 880px;
}
#content .content-item .content-image,
#content .content-item .meta,
#content .content-item .plot {
    display: block;
    float: left;
}
    
#content .content-item .content-image {
    border: 2px solid #c3cfc4;
    margin-left: 4px;
    height: 317px;
    min-width: 214px;
    max-width: 400px;
}

/* content meatadata:*/
#content .content-item .meta {
    height: 321px;
    border-right: 1px solid #c3cfc4;
    display: table;
}

#content .content-item .meta,
#content .content-item .meta span,
#content .content-item .meta div,
#content .content-item .meta div a {
    width: 160px;
}

#content .content-item .meta span {
    margin-bottom: 4px;
}

#content .content-item .meta .year {
    float: left;
    border-left: 8px solid #b4ee46;
    padding-left: 16px;
    font-size: 2em;
    margin-bottom: 8px;
}

#content .content-item .meta .length {
    padding-left: 24px;
    font-size: 1.2em;
}

#content .content-item .meta .genre {
    height: 0px;
    display : table-row;
    vertical-align : bottom;
}

#content .content-item .meta .genre a {
    display: block;
    padding-left: 24px;
    margin-bottom: 2px;
}

#content .content-item .plot {
    margin-left: 30px;
    width: 380px;
    height: 301px;
    padding: 10px;
    text-align: justify;
    line-height: 1.18em;
    background-color: rgba(94, 93, 93, 0.24);
    border: 1px solid rgba(112, 112, 112, 0.24);
}

#content .content-item .plot h2 {
    margin-top: 10px;
    font-size: 2em;
    margin-bottom: 16px;
}

#content .content-item .plot span {
    display: inline-block;
    height: 260px;
    padding-right: 10px;
    overflow-y: auto;
}
